[texto del enlace](https://)<table>
 <tr align=left><td><img align=left src="https://drive.google.com/uc?export=view&id=1edefIUL_iwWk4K3KtrNynSJ0Qvpdb2YY">
 <td>Text provided under a Creative Commons Attribution license, CC-BY. All code is made available under the FSF-approved MIT license. (c) Francisco Gómez</td>
</table>

*“People think that computer science is the art of geniuses but the actual reality is the opposite, just many people doing things that build on eachother, like a wall of mini stones.” *

__Donald Knuth__

## Problemas

* Escriba un programa que adivine números entre 1 y 9

In [1]:
from random import randint

guess = lambda n: 'Adivinaste!' if randint(1, 9) == n else 'No adivinaste!'

for i in range(9):
    print(guess(randint(1, 9)))

No adivinaste!
No adivinaste!
No adivinaste!
No adivinaste!
No adivinaste!
No adivinaste!
No adivinaste!
No adivinaste!
No adivinaste!

* Calcular un número elevado a otro número utilizando el método de multiplicaciones sucesivas

In [2]:
def power (n, m):
    x = 1
    for i in range(m):
        x *= n

    return x

power(2, 3) == 8

True

* Encuentre los números que son divisibles por 7 y múltiplos de 5, entre 3500 y 4700

In [3]:
response = []

for i in range(3500, 4701):
    if not i % 35:
        response.append(i)

response

[3500,
 3535,
 3570,
 3605,
 3640,
 3675,
 3710,
 3745,
 3780,
 3815,
 3850,
 3885,
 3920,
 3955,
 3990,
 4025,
 4060,
 4095,
 4130,
 4165,
 4200,
 4235,
 4270,
 4305,
 4340,
 4375,
 4410,
 4445,
 4480,
 4515,
 4550,
 4585,
 4620,
 4655,
 4690]

- Escriba un programa que obtenga los valores de la serie de Fibonacci entre 100 y 200

In [4]:
fibonacci = [ 1, 2 ]
numbers = []

while fibonacci[-1] <= 200:
    number = fibonacci[-1] + fibonacci[-2]
    if number >= 100 and number <= 200:
        numbers.append(number)
    fibonacci.append(number)

numbers

[144]

- Calcule la secuencia de Padovan (1, 1, 1, 2, 2, 3, 4, 5, 7, 9, 12, 16...) para un n arbitrario

In [5]:
padovan = lambda n: 1 if n < 3 else padovan(n - 2) + padovan(n - 3)

padovan(11) == 16

True

- Determine si un número es primo o no

In [6]:
def is_prime (n):
    for i in range(2, n + 1):
        if not n % i and n != i:
            return False
        
    return True

(is_prime(7), is_prime(9))

(True, False)

- Determine si un número es compuesto o no

In [7]:
is_composite = lambda n: not is_prime(n)

(is_composite(7), is_composite(9))

(False, True)

* Aproxime pi utilizando los 100 primeros términos de la serie de Ramanujan–Sato

In [8]:
from math import sqrt, factorial

ramanujan_sato_sum = lambda n: (2 * sqrt(2)) / (99 ** 2) * sum([
    int(factorial(4 * k) / (factorial(k) ** 4)) * 
    int((26390 * k + 1103) / (396 ** (4 * k)))
    
    for k in range(0, n + 1)
])

pi = 1 / ramanujan_sato_sum(100)

pi

3.1415927300133055

* Determine si un número es narcisista

In [9]:
from math import log10

def narcissist (n):
    (d, k, sum) = (n, int(log10(n)) + 1, 0)

    while d > 0:
        sum += int((d % 10) ** k)
        d = d // 10

    return sum == n

(narcissist(10), narcissist(1634))

(False, True)

* Determine si un número es primo fuerte

* Determine si un número es perfecto o no

* Determine si un número es semiperfecto

* Determine si un número es abundante

* Calcule el n-esimo término de la secuencia de Ulam

* Calcule el doble factorial de un número

In [10]:
def factorial2 (n):
    (mult, should) = (1, True)
    
    while n > 0:
        if should:
            mult *= n

        should = not should
        n -= 1
    
    return mult

factorial2(5) == 15

True

* Calcule el subfactorial de un número

* Calcule los 6 primeros números de Dedekin